<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Hello!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- Intro -->
  <ion-card color="dark">
    <ion-card-header>
      <ion-card-subtitle> Welcome to The Brewery Bible </ion-card-subtitle>
      <ion-card-title> Your beer adventure starts with us! </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>The Brewery Bible exists to connect you directly to the best places and spaces serving the freshest local beer up and down the country. As the beer drinking experience continuously evolves, we will keep you in the know about the best brews, coolest tap-rooms, in-depth tours and tastings happening in your local region and beyond.</p>

      <p>The Brewery Bible is your ultimate companion when looking to discover, uncover and treasure the wonders of beer.</p>

      <p>We will take you across the UK where you can explore over 2000 breweries, 700 brewery taprooms, plus hand-picked venues and stockists pushing the boundaries and working with the leaders in beer to curate lip-smacking menus not to be missed.</p>

      <p>With a growing emphasis on local provenance and craft, The Brewery Bible will help you wherever you are on your beer journey, from the curious to the converted. Sample the freshest beers in the country, right next to where they are made. You might even meet the brewer or tuck into a beer and food pairing to help you think about beer in a completely different way.</p>

      <p>Gather some friends, open the map view or simply tap the beer icon and start planning your next beer adventure...</p>
    </ion-card-content>
  </ion-card>

</ion-content>
