/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


/* Custom spacings accessible in entire app */
.mt {
    margin-top: 1em;
}

/* Toolbar titles entire app */
ion-toolbar ion-title {
    font-family: 'Microbrew';
}

h1 {
    font-family: 'Chunkfive';
}
h2 {
    font-size: 1em;
    font-weight: 700;
}
.global__overflow-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/** Side Menu **/
#global__sidemenu-label {
    font-family: 'Chunkfive';
    color: var(--ion-color-lightest);
}

/* Buttons */
ion-header ion-icon.back-button-icon.icon, ion-header .back-button-text {
    color: var(--ion-color-primary);
}
.global__btn_secondary {
    color: var(--ion-color-lightest);
    background-color: var(--ion-color-primary);
    border-width: 3px;
}
.global__btn-spacing {
    margin-top: 1em;
}

/* Popovers */
.global__popover {
    background-color: var(--ion-color-darkest);
    color: var(--ion-color-lightest);
    #closeBtn {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}
.popover-ios .popover-arrow::after {
    background-color: var(--ion-color-darkest);
}

/* Searchbars */
#global__custom-searchbar {
    --background: var(--ion-color-dark);
    --cancel-button-color: var(--ion-color-primary);
    background-color: var(--ion-color-darkest);
    --color: var(--ion-color-light);
}

/* Maps */

// The overall popup container
.mapboxgl-popup {
    max-width: 400px;
}
// The popup tip / anchor
.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
    border-top-color: var(--ion-color-darkest);
}
.mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip {
    border-top-color: var(--ion-color-darkest);
}
.mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip {
    border-top-color: var(--ion-color-darkest);
}
.mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
    border-right-color: var(--ion-color-darkest);
}
.mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
    border-left-color: var(--ion-color-darkest);
}
.mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip {
    border-bottom-color: var(--ion-color-darkest);
}
.mapboxgl-popup-anchor-top .mapboxgl-popup-tip {
    border-bottom-color: var(--ion-color-darkest);
}
.mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip {
    border-bottom-color: var(--ion-color-darkest);
}
// The popup content
.mapboxgl-popup-content {
    border-radius: 6px;
    background-color: var(--ion-color-darkest);
}
// The popup close button
.mapboxgl-popup-close-button {
    color: var(--ion-color-lightest);
    font-size: 2.2em;
}
// Custom popup image
#popup-img {
    width: 160px;
    height: 160px;
    border-radius: 6px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
// Custom button to view detail
#popup-view-detail-button {
    display: block;
    margin: 10px auto 0 auto;
    width: 100%;
    height: 40px;
    background-color: var(--ion-color-primary);
    color: var(--ion-color-lightest);
    border-radius: 60px;
    font-size: 1.4em
}

/* Ion items */
ion-item {
    --detail-icon-color: var(--ion-color-medium);
    --detail-icon-opacity: 1;
}

/* Lists */
ion-list-header {
    --color: var(--ion-color-lightest);
}

/* Checkboxes */
ion-checkbox {
    --background: var(--ion-color-dark);
    --border-color: var(--ion-color-mediumdark);
}

/* Cards */
ion-card-title {
    font-family: 'Chunkfive';
    font-size: 1.6em;
    font-weight: 500;
}
ion-card-subtitle {
    color: var(--ion-color-medium) !important;
}
.card-content-ios p, .card-content-md p {
    margin-bottom: 14px;
}
