/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


/* Custom spacings accessible in entire app */
.mt {
    margin-top: 1em;
}

/* Toolbar titles entire app */
ion-toolbar ion-title {
    font-family: 'Microbrew';
}

.card-content p {
    margin-bottom: 18px;
}

h1 {
    font-family: 'Chunkfive';
}
h2 {
    font-weight: 700;
}
.global__overflow-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/** Side Menu **/
    .global__sidemenu {
    font-family: 'Chunkfive';
}

/** Tags / Chips **/
.global__features-tag {
    background-color: var(--ion-color-dark);
    border: 2px solid var(--ion-color-primary);
    color: var(--ion-color-lightest);
    height: 34px;
    line-height: 28px;
    font-family: 'Roboto';
    font-size: 14px;
    margin: 8px 8px 0 0;
    ion-icon {
        line-height: 32px;
        margin: -2px;
    }
}

/* Buttons */
ion-header ion-icon.back-button-icon.icon, ion-header .back-button-text {
    color: var(--ion-color-primary);
}
.global__btn_secondary {
    color: var(--ion-color-lightest);
    background-color: var(--ion-color-primary);
    border-width: 3px;
}
.global__btn-spacing {
    margin-top: 1em;
}

/* Popovers */
.global__popover {
    background-color: var(--ion-color-darkest);
    color: var(--ion-color-lightest);
    #closeBtn {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}
.popover-ios .popover-arrow::after {
    background-color: var(--ion-color-darkest);
}

/* Toasts */
//   .global__toast-success .toast-wrapper {
//     background-color: var(--ion-color-success);
//   }
//   .global__toast-danger .toast-wrapper {
//     background-color: var(--ion-color-danger);
//   }
//   .global__toast-info .toast-wrapper {
//     background-color: var(--ion-color-primary);
//   }