<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/about"></ion-back-button>
      </ion-buttons>
    <ion-title> Meet The Team </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card color="dark">
    <ion-card-header>
      <ion-item color="dark">
        <ion-avatar slot="start">
          <img src="../../assets/imgs/nathan.png">
        </ion-avatar>
        <ion-label>
          <ion-card-title id="team-member-title"> Nathan Hoare </ion-card-title>
          <ion-card-subtitle> CEO </ion-card-subtitle>
        </ion-label>
      </ion-item>
    </ion-card-header>
    <ion-card-content>
      <p>With a degree in International Business and experience working with businesses in London, Auckland and Sydney, Nathan returns to Devon to combine his passion for beer and desire to grow a new company. Nathan hopes to work with breweries, beer venues and bottle shops all over the world to enhance the beer drinking experience for business and consumer.</p>
    </ion-card-content>
  </ion-card>

  <ion-card color="dark">
    <ion-card-header>
      <ion-item color="dark">
        <ion-avatar slot="start">
          <img src="../../assets/imgs/abby.png">
        </ion-avatar>
        <ion-label>
          <ion-card-title id="team-member-title"> Abby Millar </ion-card-title>
          <ion-card-subtitle> CMO </ion-card-subtitle>
        </ion-label>
      </ion-item>
    </ion-card-header>
    <ion-card-content>
      <p>Abby’s career has been spent helping artisan food and drink producers through to national brands tell their unique stories. With experience in artisan spirits and speciality coffee (and a love for beer) Abby’s role as CMO sees her drive The Brewery Bible brand across the globe, helping shape, improve and inspire the beer drinking experience for beer drinkers everywhere.</p>
    </ion-card-content>
  </ion-card>

  <ion-card color="dark">
    <ion-card-header>
      <ion-item color="dark">
        <ion-avatar slot="start">
          <img src="../../assets/imgs/greg.png">
        </ion-avatar>
        <ion-label>
          <ion-card-title id="team-member-title"> Greg Hamilton </ion-card-title>
          <ion-card-subtitle> CTO </ion-card-subtitle>
        </ion-label>
      </ion-item>
    </ion-card-header>
    <ion-card-content>
      <p>After a 10 year career as a senior airline pilot, Greg now focuses on his passion for creating software and delivering exciting user experiences. Whether it's a trendy taproom, fun festival, undiscovered tasting or a simple, refreshing pint, Greg is working hard to help people all over the world to connect with, learn about and enjoy memorable beer based experiences through The Brewery Bible app.</p>
    </ion-card-content>
  </ion-card>
</ion-content>
