ion-searchbar {
  padding-top: 0;
}
ion-item {
  --padding-end: 0;
  --inner-padding-end: 0;
}
ion-content.no-offset-top {
  --offset-top: 130px !important;
}
#listings-list {
  padding-top: 0;
}
#listing-item {
  height: 160px;
  width: 96%;
  padding: 0;
  margin: 2% 2% 4% 2%;
  border-bottom: none;
  border-radius: 8px;
}
#listing-item #img {
  height: 160px;
  width: 100%;
  object-fit: cover;
}
#overlay {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .95));
  z-index: 1;
}
#content {
  width: 100%;
  margin: 14% auto auto auto;
  color: var(--ion-color-light);
}
#title-container {
  width: 62%;
}
#location-container {
  width: 38%;
}
#content h1 {
  margin: 0;
  font-size: 1.1em;
  padding-left: 12px;
}
#content h2 {
  margin: 0;
  text-align: right;
  padding-right: 12px;
}

// Overrides
.list-md .item-block .item-inner, .list-ios .item-block .item-inner {
  border-bottom: none;
  padding-right: 0;
}
.label-md, .label-ios {
  margin: 0;
}

// Template when no listings retrieved
#no-listings {
  margin-top: 30vh;
  padding: 20px;
  font-size: 1.4em;
  text-align: center;
  color: var(--ion-color-mediumlight);
}
